[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
cachecontrol = "*"
google-api-python-client = "*"
"oauth2client" = "*"
obs-websocket-py = "*"
pyforms-lite = "*"

[dev-packages]

[requires]
python_version = "3.7"
